body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}
/* NAV-BAR */
.header {
    background-color: #1F2937;
    gap: 30px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: auto;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 24px;
    color: #F9FAF8;
}

.right-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    padding: 0px;
} /* END */

/* HEADER CONTENT */
.header .header-content {
    color: white;
}

.header-content {
    height: 28vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 70px;
    gap: 40px;
    box-sizing: border-box;
}

.left-content {
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 15px;
    margin-left: 30px;
}

.bold-text {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: F9FAF8;
    flex-wrap: wrap;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 50px 70px;
}

.button {
    background-color: rgb(76, 143, 230);
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 10px;
} /* END */

/* RANDOM CONTAINER */
.random-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.random-container .bold-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.cards-container {
    display: flex;
}

.card {
    display: flex;
}

.img {
    
}